body {
    background-color: #C0C0C0;
}

.logo {
    cursor: pointer;
}

.padding {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-top {
    padding-top: 5px !important;
}

.margin-top-important{
    margin-top: 0 !important;
}