body{
    margin: 10px;
}

h1{
    font-size: 32pt;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    color: #C0C0C0;
    margin: -5px 0px;
}

p{
    margin: 0px;
    color: #666;
    font-size: 16pt;
}